[client]
port                    = 3309
default-character-set   = utf8mb4


[mysqld]
user                    = mysql
port                    = 3309
sql_mode                = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
socket=/var/run/mysqld/mysqld.sock

default-storage-engine  = InnoDB
#default-authentication-plugin   = mysql_native_password
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
init_connect            = 'SET NAMES utf8mb4'

#disable-log-bin
skip-character-set-client-handshake
explicit_defaults_for_timestamp


long_query_time         = 3
slow-query-log-file     = /var/lib/mysql/mysql.slow.log
log-error               = /var/lib/mysql/mysql.error.log

default-time-zone       = '+8:00'

general_log=0


server-id=1
log_bin = mysql-bin
max_binlog_size = 256M
binlog_format = row
binlog_row_image = full
binlog_expire_logs_seconds=43200
log_bin_index=/var/lib/mysql/mysql-bin.index
sync_binlog = 1
master-info-repository = FILE


# 复制配置
log_slave_updates=1

max_relay_log_size = 0
relay_log=slave-relay-bin
relay_log_index=/var/lib/mysql/slave-relay-bin.index               
relay_log_info_file=relay-log.info
relay_log_info_repository=FILE
relay_log_purge=1
relay_log_recovery=1
relay_log_space_limit=0

sync_relay_log=10000
sync_relay_log_info=10000
 

binlog-ignore-db                   = information_schema
binlog-ignore-db                   = mysql
binlog-ignore-db                   = sys
binlog-ignore-db                   = performance_schema

[mysql]
default-character-set   = utf8mb4
